# iPlug2
iPlug2/
*.user
*.sdf
*.suo
*.idb
*.pdb
*.exe
*.dll
*.exp
*.ilk
*.log
*.meta
*.tlog
*.lastbuildstate
*.lastcodeanalysissucceeded
*.VC.VC.opendb
*.ipch
build/
*.vcxproj*
*.sln
*.xcworkspace
*.xcodeproj
DerivedData/

# macOS
.DS_Store
*.dSYM

# IDE
.vscode/
.idea/
*.swp
*.swo
